*, *::after, *::before {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'),
    url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #FFFFFF
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  width: 113.5rem;
  margin: 0 auto;
}

/*сетка*/
@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 26em) {
  html {
    font-size: 4.5px;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}

/*сетка*/

.header {
  position: absolute;
  top: 6.4rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 7.9rem;
  height: 2.8rem;
  margin-right: 3.9rem;
}

.header__nav a:not(:last-child) {
 margin-right: 2.4rem;
}

.header__nav a { 
  font-size: 1.4rem;
  line-height: 114%;
  color: #FFFFFF;
  text-decoration: none;
}

.header__nav-mobile {
  display: none;
}

.header__socials-icon {
  display: inline-block;
  width: 1.7rem;
  height: 1.6rem;
  text-decoration: none;
}

.header__socials-icon:not(:last-child) {
  margin-right: 2rem;
}

.header__menu-close {
  display: none;
}

.menu-burger {
  display: none;
}

.main {
  padding-top: 18.7rem;
  padding-bottom: 10.4rem;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}

.main__rating {
  margin-bottom: 1rem;
}

.main__rating-title {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  line-height: 114%;
}

.main__rating-wrap {
  display: flex;
  align-items: center;
}

.main__rating-stars {
  display: flex;
  align-items: center;
  margin-right: 0.9rem;
}

.main__rating-star {
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
  cursor: pointer;
}

.main__rating-star:not(:last-child) {
  margin-right: 0.4rem;
}

.main__rating-namber {
  font-size: 1.2rem;
  line-height: 117%;
}

.main__header {
  font-family: 'Museo Sans';
  font-size: 7.6rem;
  line-height: 119%;
}

.main__description {
  margin-bottom: 4.1rem;
  max-width: 50.8rem;
  font-size: 1.4rem;
  line-height: 150%;
}

.main__description-wrap {
  display: flex;
  align-items: center;
}

.main__button-play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 31.5rem;
  width: 13.2rem;
  height: 13.2rem;
  border-radius: 50%;
  background-color: rgba(21, 21, 21, 0.5);
  cursor: pointer;
}

.main__button-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #151515;
}

.main__button-dark img {
  width: 3.5rem;
  height: 4rem;
}

.main__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 24.5rem;
  margin-bottom: 8.8rem;
  padding: 2.2rem 7.2rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 114%;
  color: #FFFFFF;
  background: #151515;
  border-radius: 0.8rem;
  text-decoration: none;
}

.main-slider__wrap {
  display: flex;
  align-items: center;
  width: 41.5rem;
}

.main-slider__slide {
  position: relative;
  width: 16.4rem;
  height: 10.5rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.main-slider__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-slider__slide span {
  position: absolute;
  left: 1.2rem;
  bottom: 0.6rem;
  font-size: 1rem;
  line-height: 120%;
}

.main-slider__arrow {
  width: 3.2rem;
  height: 2.2rem;
  margin-left: 2.8rem;
  flex-shrink: 0;
  cursor: pointer;
}

.footer {
  background: #030102;
  padding: 2rem 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  font-size: 1.4rem;
  line-height: 143%;
  color: #686767;
}

.footer__menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__menu a {
  font-size: 1.4rem;
  line-height: 143%;
  color: #686767;
  text-decoration: none;
}

.footer__menu li:not(:last-child) {
  margin-right: 2.5rem;
}

@media (max-width: 48em) {
  html {
    font-size: 10px;
  }

  .header .container {
    flex-direction: column;
  }

  .container {
    width: 100%;
    padding: 0 3rem;
  }

  .header {
    z-index: 10;
    display: none;
    top: 0;
    transform: translate(-20%, 0);
    width: 66.7%;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-color: #151515;
  }

  .header__logo {
    margin-right: 0;
    margin-bottom: 3.5rem;
  }

  .header__menu {
    flex-direction: column;
  }

  .header__nav {
    display: none;
  }

  .header__nav-mobile {
    display: flex;
    flex-direction: column;
  }

  .header__nav-mobile a {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 114%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }

  .header__nav-mobile a:not(:last-child) {
    margin-bottom: 1.7rem;
  }

  .header__socials {
    margin-bottom: 2.2rem;
  }

  .header__menu-close {
    position: absolute;
    right: 4rem;
    top: 4rem;
    width: 2.3rem;
    height: 2.3rem;
    cursor: pointer;
  }

  .menu-burger {
    position: absolute;
    top: 4rem;
    right: 4rem;
    display: block;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }
  
  .main {
    background-position-x: 66%;
  }

  .main__description-wrap {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .main__button-play {
    margin: 0;
  }

  .main__button {
    margin-bottom: 4.4rem;
  }

  .main-slider__wrap {
    max-width: 53.5%;
  }

  .main-slider__arrow {
    display: none;
  }

  .footer .container {
    flex-direction: column;
    align-items: flex-start;
  }
}